[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
sqlalchemy = "*"
python-dotenv = "*"
sentry-sdk = "*"
pytest = "*"
argon2-cffi = "*"
click = "*"
rich = "*"
pyjwt = "*"
cryptography = "*"
keyring = "*"
"keyrings.alt" = "*"
pytest-cov = "*"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.11"
